.draggable-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--draggable-bar-height);
    -webkit-app-region: drag;
    z-index: 1001;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: 5px 5px;
    border: 1px solid black;
    background: hsla(0, 0%, 90%, 0.89);

    .bar-logo {
        contain: paint;
        object-fit: contain;
        max-height: 20px;
        aspect-ratio: 1 / 1;
        margin: 0 8px;
    }

    .bar-title {
        text-wrap: nowrap;
        white-space: nowrap;
    }
}