.draggable-bar {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: var(--draggable-bar-height);
    -webkit-app-region: drag;
    cursor: grab;
    z-index: 1001;
    background-color: var(--background-color);
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(5deg, var(--background-color) 0, var(--background-color) 1px, black 0, var(--background-color) 50%);
}

.draggable-bar:hover {
    cursor: grab;
}