.draggable-bar {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: var(--draggable-bar-height);
    -webkit-app-region: drag;
    cursor: grab;
    background-color: var(--primary-background);
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(5deg, var(--primary-background) 0, var(--primary-background) 1px, black 0, var(--primary-background) 50%);
}

.draggable-bar:hover {
    cursor: grab;
}