body,
html,
main {
    background-color: initial !important;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size) !important;
    user-select: none;
}

body {
    margin: 0;
    padding: calc(var(--body-padding) + var(--draggable-bar-height)) var(--body-padding) var(--body-padding) var(--body-padding) !important;
}

body {
    margin: 0;
  
}

*,
*::before,
*::after {
    box-sizing: inherit;
}