body,
html,
main {
    background-color: initial !important;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: var(--main-font-size) !important;
    user-select: none;
}

body {
    margin: 0;
    padding: calc(1rem + var(--draggable-bar-height)) 1rem 1rem 1rem !important;
}

body {
    margin: 0;
  
}

*,
*::before,
*::after {
    box-sizing: inherit;
}