:root {
    --primary-background: #e7dee6;
    --primary-font: #041113;

    --scrollbarHead: #f5f2ca;
    --scrollbarBackground: #545454;
    --scrollbarShadow: #000000bf;

    --url: #7d47fc;

    --statusNew: #1e8cc4;
    --statusSeen: #db8409;
    --statusKnown: #32912d;
    --statusIgnored: #8b8383;

    --dangerZoneBackground: #ff000044;
    --dangerZoneButton: #ff0000;
}