html {
  background: var(--mainBackground);
  color: var(--mainFont);
  font-family: 'SF UI Display', 'DFGaGei-W6', sans-serif;
  user-select: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html:before {
  content: "";
  position: fixed;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid var(--mainFont);
  top: 0;
  left: 0;
  pointer-events: none
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  padding: 20px;
}

::-webkit-scrollbar {
  background: var(--scrollbarBackground);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarHead);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
  box-shadow: 0px 1px 2px var(--scrollbarShadow);
  -webkit-box-shadow: 0px 1px 2px var(--scrollbarShadow);
}

::-webkit-scrollbar-corner {
  background: var(--mainBackground);
}

#on-top-msg {
  border: 1px solid var(--mainFont);
  display: flex;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  align-self: center;
  background: var(--mainBackground);
  z-index: 2;
}

#on-top-msg section {
  margin: auto;
}

.url {
  color: var(--url);
}