html {
  text-align: center;
}

#app {
  margin: 0 auto;
}

#all-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 3em;
}

fieldset {
  text-align: left;
  padding: 0.75em;
}

.option.field > input[type="text"]{
  width: 5em;
}

#anki .option > input#ankiDeckName,
#anki .option > input#ankiModelName{
  width: 12em;
}

#anki .option.field * {
  font-size: calc(2em / 3);
}

#anki .option.option.field {
  padding-top: 0;
  padding-bottom: 0;
}

#anki .option.field > input[type="text"]{
  width: 9em;
}

.option > input[type="number"]{
  width: 4em;
}

.option > input#deepLApiKey{
  width: 20em;
}

input.deepLApiKey-test-response{
  filter: sepia(1) brightness(0.8);
  width: 16em;
}

.red-buttons {
  border-color: var(--dangerZoneButton);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#danger-zone{
  margin-top: 1.5em;
  max-width: 37em;
  background-color: var(--dangerZoneBackground);
  margin-left: auto;
  margin-right: auto;
}

details#danger-zone {
  border: 1px solid var(--mainFont);
  border-radius: 0px;
  padding: 0.5em 0.5em 0;
}
#danger-zone summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
details[open]#danger-zone {
  padding: 0.5em;
}
#danger-zone details[open] summary {
  border-bottom: 1px solid var(--mainFont);
  margin-bottom: 0.5em;
}

#danger-zone .btn {
  background-color: var(--dangerZoneButton);
}

section {
  padding: 0.2em;
  display: flex;
  gap: 0.75em;
  align-items: center;
}

label {
  position: relative;
  bottom: 0.1em;
}

section#apply {
  margin: 0;
}

.apply.btn {
  margin: 0 auto;
  font-size: larger;
}

.btn {
  border: 1px solid var(--mainFont);
  background-color: transparent;
  padding: 0.25em;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: var(--mainBackground);
  background-color: var(--mainFont);
}