html {
  text-align: center;
}

#app {
  margin: 0 auto;
}

h1,
h2,
h3 {
  padding: 0 1em;
  margin: 0.2em 0;
}

h1 {
  margin-bottom: 0.75em;
  text-decoration: underline;
}

legend {
  font-weight: bold;
}

label {
  cursor: pointer;
}

input[disabled],
input[disabled] + label,
input[readonly="readonly"] {
  cursor: not-allowed;
}

input[disabled] + label {
  opacity: 0.5;
}
input[type="checkbox"]:checked + label,
input[type="number"] + label,
input[type="text"] + label {
  font-weight: bold;
}

#deepLQueryStringsNote {
  padding-bottom: 0.1em;
}

#all-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 1em;
}

fieldset {
  text-align: left;
  display: inline;
  padding: 0.75em;
  border-style: groove;
  border-width: medium;
}

fieldset > fieldset {
  margin: 0.5em;
  border-width: thin;
}

#furigana {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}

input,
select {
  font-size: 0.75em;
}

input[type="number"] {
  width: 4em;
}

#anki input[type="text"] {
  width: 9em;
}

input#deepLApiKey {
  width: 22em;
}

input#deepLTargetNode,
input#deepLSourceNode {
  width: 15em;
}

.alert {
  padding: 0.7143rem;
  padding-top: 0;
  text-align: center;
  max-width: 10em;
}

#advanced > .button > .btn {
  margin: 0 auto;
}

input.deepLApiKey-button-response {
  filter: sepia(1) brightness(0.8);
  width: 16em;
}

.option input[type="checkbox"] {
  display: none;
}
.option input:not([disabled]):hover + label,
.option select:not([disabled]):hover + label {
  color: var(--statusSeen);
}
.option input[type="checkbox"]:hover + label:before {
  border: 0.04em solid var(--statusSeen);
  box-shadow: 0.08em 0.04em 0 var(--statusSeen) !important;
}
.option input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.option input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
  border: 0.04em solid var(--statusIgnored);
  border-radius: 0.15em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  -webkit-transition:
    all 200ms,
    background 200ms cubic-bezier(0.18, 1, 0, 1);
  transition:
    all 200ms,
    background 200ms cubic-bezier(0.18, 1, 0, 1);
  box-shadow: -0.08em -0.04em 0 var(--statusIgnored);
  background: var(--mainBackground);
}
.option input[type="checkbox"]:checked + label:before {
  border: 0.04em solid var(--mainFont);
  border-radius: 0.15em;
  background: var(--statusKnown);
  box-shadow: 0.08em 0.04em 0 var(--statusIgnored);
}

.red-buttons {
  border-color: var(--dangerZoneButton);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#danger-zone {
  margin-top: 1.5em;
  max-width: 37em;
  background-color: var(--dangerZoneBackground);
  margin-left: auto;
  margin-right: auto;
}

details#danger-zone {
  border: 1px solid var(--mainFont);
  border-radius: 0;
  padding: 0.5em 0.5em 0;
}

#danger-zone summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open]#danger-zone {
  padding: 0.5em;
}

#danger-zone details[open] summary {
  border-bottom: 1px solid var(--mainFont);
  margin-bottom: 0.5em;
}

#danger-zone .btn {
  background-color: var(--dangerZoneButton);
}

section {
  padding: 0.2em;
  display: flex;
  gap: 0.75em;
  align-items: center;
}

label {
  position: relative;
  bottom: 0.1em;
}

.option input[type="checkbox"] + label {
  padding-left: 1em;
}

section#apply {
  margin: 0;
}

/* section#deepLTargetNode-selection, section#deepLSourceNode-selection {
  flex-direction: row;
} */

.apply.btn {
  margin: 0 auto;
  font-size: larger;
}

.btn {
  border: 1px solid var(--mainFont);
  background-color: transparent;
  padding: 0.25em;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: var(--mainBackground);
  background-color: var(--mainFont);
}
