html,
body {
  color: var(--mainFont);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'SF UI Display', 'DFGaGei-W6', sans-serif;
  text-align: center;
  user-select: none;
}

body {
  border: 1px dashed var(--translationBorder);
}

::-webkit-scrollbar {
  background: var(--scrollbarBackground);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarHead);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
  box-shadow: 0px 1px 2px var(--scrollbarShadow);
  -webkit-box-shadow: 0px 1px 2px var(--scrollbarShadow);
}

::-webkit-scrollbar-corner {
  background: var(--mainBackground);
}

#on-top-msg {
  border: 1px solid var(--mainFont);
  display: flex;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  align-self: center;
  background: var(--mainBackground);
  z-index: 2;
}

#on-top-msg section {
  margin: auto;
}

.url {
  color: var(--url);
}

#app {
  background: var(--translationTransparentBackground);
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: 5px;
}


#move-bar {
  width: 50%;
  margin: auto;
  height: 15px;
  margin-bottom: 5px;
  background: var(--translationBorder);
  -webkit-app-region: drag;
}

#english-text {
  font-weight: bold;
}

.fade {
  color: var(--mainFontFaded);
}

.fade:hover {
  color: var(--mainFont);
}