:root {
    --mainFont: #041113;
    --mainFontFaded: #0411130d;
    --mainBackground: #e7dee6;

    --scrollbarHead: #272502;
    --scrollbarBackground: #867f7f;
    --scrollbarShadow: #000000bf;

    --url: #7d47fc;

    --dictListColor1: #77777780;
    --dictListColor2: #99999980;
    --dictListColor3: #bbbbbb80;
    --dictListColor4: #dddddd80;

    --optionsYes: #6cd193;
    --optionsYesSelected: #26bd62;
    --optionsNo: #f18588;
    --optionsNoSelected: #e63b44;

    --statusNew: #1e8cc4;
    --statusSeen: #db8409;
    --statusKnown: #32912d;
    --statusIgnored: #8b8383;

    --plusOneBackground: #ccb9ca;
    --plusOneColor: #000000;
    --plusOneHighlight: #e83d3d;

    --dangerZoneBackground: #ff000044;
    --dangerZoneButton: #ff0000;

    --translationBorder: #f5c8ba;
    --translationTransparentBackground: #ffffffb0;
}

html.dark-mode {
    --mainFont: #f3f9fa;
    --mainFontFaded: #f3f9fa0d;
    --mainBackground: #1e0a1c;

    --scrollbarHead: #f5f2ca;
    --scrollbarBackground: #545454;
    --scrollbarShadow: #000000bf;

    --dictListColor1: #77777780;
    --dictListColor2: #55555580;
    --dictListColor3: #33333380;
    --dictListColor4: #11111180;

    --plusOneBackground: #2f142d;
    --plusOneColor: #ffffff;
    --plusOneHighlight: #650d0d;

    --translationTransparentBackground: #000000b0;
}

@font-face {
  font-family: BIZUDPMincho;
  src: url(../fonts/BIZUDPMincho-Regular.ttf);
}

@font-face {
  font-family: BIZUDPGothic;
  src: url(../fonts/BIZUDPGothic-Regular.ttf);
}

@font-face {
  font-family: DotGothic16;
  src: url(../fonts/DotGothic16-Regular.ttf);
}

@font-face {
  font-family: HinaMincho;
  src: url(../fonts/HinaMincho-Regular.ttf);
}

@font-face {
  font-family: KleeOne;
  src: url(../fonts/KleeOne-SemiBold.ttf);
}

@font-face {
  font-family: MPLUS1p;
  src: url(../fonts/MPLUS1p-Regular.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  src: url(../fonts/MPLUSRounded1c-Regular.ttf);
}

@font-face {
  font-family: NotoSansJP;
  src: url(../fonts/NotoSansJP-Regular.ttf);
}

@font-face {
  font-family: NotoSerifJP;
  src: url(../fonts/NotoSerifJP-Regular.otf);
}

@font-face {
  font-family: SawarabiGothic;
  src: url(../fonts/SawarabiGothic-Regular.ttf);
}

@font-face {
  font-family: SawarabiMincho;
  src: url(../fonts/SawarabiMincho-Regular.ttf);
}

@font-face {
  font-family: ZenAntique;
  src: url(../fonts/ZenAntique-Regular.ttf);
}

@font-face {
  font-family: ZenKakuGothicNew;
  src: url(../fonts/ZenKakuGothicNew-Regular.ttf);
}

@font-face {
  font-family: ZenKurenaido;
  src: url(../fonts/ZenKurenaido-Regular.ttf);
}

@font-face {
  font-family: ZenMaruGothic;
  src: url(../fonts/ZenMaruGothic-Regular.ttf);
}

@font-face {
  font-family: ZenOldMincho;
  src: url(../fonts/ZenOldMincho-Regular.ttf);
}

