/* This is the SCSS file of the reader window. */
/* Learn more about SASS/SCSS: https://sass-lang.com/documentation/syntax */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

}

#ichi {
  div {
    color: blue;
  }
}