@mixin create-font-glow-strength-classes {
    &.font-glow-strength-0 {
        text-shadow: none;
    }
    @for $i from 1 through 20 {
        &.font-glow-strength-#{$i} {
            $value : '';
            @for $j from 1 through $i {
                $value : $value + '0 0 4px var(--font-glow-color)';
                @if $j != $i {
                    $value : $value + ',';
                }
            }
            text-shadow : unquote($value);
        }
    }
}

body {
    @include create-font-glow-strength-classes;
    background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
        linear-gradient(to right, black 1px, transparent 1px) 0 100%,
        linear-gradient(to left, black 1px, transparent 1px) 100% 0,
        linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
        linear-gradient(to top, black 1px, transparent 1px) 0 100%,
        linear-gradient(to top, black 1px, transparent 1px) 100% 100%,
        linear-gradient(to right, red 2px, transparent 2px) 0 0,
        linear-gradient(to right, red 2px, transparent 2px) 0 100%,
        linear-gradient(to left, red 2px, transparent 2px) 100% 0,
        linear-gradient(to left, red 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, red 2px, transparent 2px) 0 0,
        linear-gradient(to bottom, red 2px, transparent 2px) 100% 0,
        linear-gradient(to top, red 2px, transparent 2px) 0 100%,
        linear-gradient(to top, red 2px, transparent 2px) 100% 100%,
        linear-gradient(to right, white 3px, transparent 3px) 0 0,
        linear-gradient(to right, white 3px, transparent 3px) 0 100%,
        linear-gradient(to left, white 3px, transparent 3px) 100% 0,
        linear-gradient(to left, white 3px, transparent 3px) 100% 100%,
        linear-gradient(to bottom, white 3px, transparent 3px) 0 0,
        linear-gradient(to bottom, white 3px, transparent 3px) 100% 0,
        linear-gradient(to top, white 3px, transparent 3px) 0 100%,
        linear-gradient(to top, white 3px, transparent 3px) 100% 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 10px 10px;


    color: var(--font-color) !important;

    &.hide-border-markings {
        background: none;
    }

    .url {
        text-decoration-line: underline;
    }

    button.btn {
        max-width: 5rem;
    }
}