html {
  font-size: 17px;
}

#app {
  padding: 10px;
}

#info, #controls, #word-info, #status-buttons, #other-buttons {
  word-wrap: break-word;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  height: auto;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

#info {
  justify-content: space-between;
  flex-direction: row;
}

#controls {
  border-top: 1px solid var(--dark-mainFont);
  justify-content: space-between;
  flex-direction: column;
}

#word-info {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#status-buttons,
#other-buttons {
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#word-area {
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  color: var(--dark-mainFont);
  text-shadow: 
    -1px 0px var(--dark-mainBackground), 
    0 1px var(--dark-mainBackground), 
    1px 0 var(--dark-mainBackground), 
    0 -1px var(--dark-mainBackground),
    0 0 5px var(--dark-mainBackground);
}

#word-area .status{
  position: absolute;
  font-size: 0.5em;
}

#word-area.new {
  background-color: var(--dark-statusNew);
}

#word-area.seen {
  background-color: var(--dark-statusSeen);
}

#word-area.known {
  background-color: var(--dark-statusKnown);
}

#word-area.ignored {
  background-color: var(--dark-statusIgnored);
}

#dict {
  border-top: 1px solid var(--dark-mainFont);
  word-wrap: break-word;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

#dict dt, #dict dd{
  margin:0;
  padding:0;
}

#dict dd{
  margin-inline-start: 1em;
}

#dict ol{
  margin-block-start: 0em;
  padding-inline-start: 1em;
}

#dict ol li:nth-child(6n+1){
  background-color: var(--dark-dictListColor4);
}
#dict ol li:nth-child(6n+2){
  background-color: var(--dark-dictListColor3);
}
#dict ol li:nth-child(6n+3){
  background-color: var(--dark-dictListColor2);
}
#dict ol li:nth-child(6n+4){
  background-color: var(--dark-dictListColor1);
}
#dict ol li:nth-child(6n+5){
  background-color: var(--dark-dictListColor2);
}
#dict ol li:nth-child(6n+6){
  background-color: var(--dark-dictListColor3);
}


.sense-info-note,
.note-skipped {
  display: none;
}

.btn {
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  cursor: pointer;
  color: var(--dark-mainFont);
  background-color: var(--dark-mainBackground);
  border: 0.1em solid var(--dark-mainFont);
  border-radius: 5px;
  padding: 0.25em;
  width: fit-content;
}

.btn small {
  font-size: 0.7em;
  border-radius: 10%;
  background-color: var(--dark-mainFont);
  color: var(--dark-mainBackground);
  padding: 0 0.1em;
  margin-right: 0.1em;
}

.btn:hover {
  border: none;
  padding: 0.35em;
  color: var(--dark-mainBackground);
  background-color: var(--dark-mainFont);
}

.btn:hover small{
  background-color: var(--dark-mainBackground);
  color: var(--dark-mainFont);
}

#seen-btn:not(.disabled-btn):hover {
  background-color: var(--dark-statusSeen);
}

#known-btn:not(.disabled-btn):hover {
  background-color: var(--dark-statusKnown);
}

#ignore-btn:not(.disabled-btn):hover {
  background-color: var(--dark-statusIgnored);
}

.disabled-btn {
  color: var(--dark-disabled);
  cursor: not-allowed;
  border: 0.2em groove var(--dark-mainFont);
  padding: 0.15em;
  opacity: 0.8;
  text-decoration: underline;
}


.disabled-btn:hover {
  border: 0.2em groove var(--dark-mainFont);
  padding: 0.15em;
  background-color: var(--dark-disabled);
  color: var(--dark-mainFont);
}