html {
  padding: 20px;
  text-align: center;
}

section{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

section:nth-child(even){
  margin-left: 10%;
}

section:nth-child(odd){
  margin-right: 10%;
}


section#apply{
  margin: 0;
}

.option {
  margin-bottom: 2em;
}

.yes,
.no,
.increase,
.decrease  {
  border: 0.1em solid var(--mainFont);
  padding: 0.25em;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  width: 5em;
  opacity: 0.5;
}


.yes:hover, 
.no:hover, 
.increase:hover, 
.decrease:hover {
  border: none;
  padding: 0.35em;
}

.selected{
  padding: 0.5em;
  border: 0.1em solid var(--mainFont);
}

.selected:hover{
  padding: 0.6em;
  border: none;
}

.selected, 
.yes:hover, 
.no:hover, 
.increase:hover, 
.decrease:hover {
  opacity: 1.0;
  font-weight: bold;
}

.yes{
  background-color: var(--optionsYes);
}


.yes.selected, .increase{
  background-color: var(--optionsYesSelected);
}

.no{
  background-color: var(--optionsNo);
}

.no.selected, .decrease{
  background-color: var(--optionsNoSelected);
}




#apply-btn {
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  cursor: pointer;
  color: var(--mainFont);
  background-color: var(--mainBackground);
  border: 0.1em solid var(--mainFont);
  border-radius: 5px;
  padding: 0.25em;
  width: fit-content;
  margin: 0 auto;
  font-size: x-large;
}

#apply-btn:hover{
  border: none;
  padding: 0.35em;
  color: var(--mainBackground);
  background-color: var(--mainFont);
}