:root {
    --dark-mainFont: #f3f9fa;
    --dark-mainFontFaded : #f3f9fa0d;
    --dark-mainBackground: #1e0a1c;

    --dark-scrollbarHead: #f5f2ca;
    --dark-scrollbarBackground: #545454;
    --dark-scrollbarShadow: #000000bf;
    
    --dark-url: #bb9ffd;
    --dark-disabled: #8c8c8c;

    --dark-buttonFont: var(--dark-mainBackground);
    --dark-buttonBackground: var(--dark-mainFont);

    --dark-buttonSmallFont: #2c1111;
    --dark-buttonSmallBackground: #b83131;

    --dark-dictListColor1: #77777780;
    --dark-dictListColor2: #55555580;
    --dark-dictListColor3: #33333380;
    --dark-dictListColor4: #11111180;

    --dark-optionsYes: #a1d2b4;
    --dark-optionsYesSelected: #72be90;
    --dark-optionsNo: #efa7aa;
    --dark-optionsNoSelected: #e37a7f;

    --dark-statusNew: #229eda;
    --dark-statusSeen: #f19109;
    --dark-statusKnown: #3aa835;
    --dark-statusIgnored: #c3c3c3;

    --dark-plusOneBackground: #2f142d;
    --dark-plusOneColor: #ffffff;
    --dark-plusOneHighlight: #650d0d;

    --dark-translationBorder: #f5c8ba;
    --dark-translationTransparentBackground: #0000004d;
}